.cocomo-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.cocomo-form__container {
    display: flex;
    flex-direction: column;
    width: 550px;
    padding: 30px;
    border-radius: 16px;
    border: 1px solid;
    gap: 20px;
}


.cocomo-form__result {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family), sans-serif;
    gap: 15px;
}
